/* body{
    background-color:rgb(55, 60, 60);
}
label{
    color: white;
}
button{
    background-color:rgb(24, 116, 215) ;
    color: white;
    border-radius: 5px;
    border: 5px red;
}
.input {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: rgb(194, 113, 7);
    height: 50px;
    padding-top: 10px;
  }
  .input label{
    margin-left: 600px;
   
  } */